.card {
  width: 730px;
  height: 250px;
  border-radius: 5px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border: 1px solid white;
  box-shadow: 8px 12px 20px 0px #000000;
  margin: 0 auto;
  margin-left: 40px;
}

.card-container {
  padding: 35px;
  flex-direction: column;
}

.text {
  color: white;
}

.paragraph {
  color: #808080;
  margin-top: 10px;
}

.input-container {
  margin-top: 10px;
  width: 100%;
  gap: 10px;
  display: flex;
  align-items: center;
}

.input-field-name {
  border: 2px solid white;
  border-radius: 3px;
  outline: none;
  padding: 0.5rem;
  background-color: transparent;
  color: white;
}

.input-field-email {
  border: 2px solid white;
  border-radius: 3px;
  outline: none;
  padding: 0.5rem;
  background-color: transparent;
  color: white;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  margin-left: -8px;
}

.input-field-email-sidebar {
  background-color: white;
  border-radius: 3px;
  position: relative;
  margin-left: -24.5px;
  transform: skewX(-32deg);
  color: white;
  height: 37.5px;
  width: -1px;
}

.button {
  background-color: white;
  border-radius: 3px;
  color: black;
  border: none;
  padding: 0.6rem 3rem;
  cursor: pointer;
  clip-path: polygon(16.5% 0, 100% 0, 100% 100%, 0% 100%);
  margin-left: -19px;
  font-weight: 800;
}

.unlock-card h6 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

.unlock-card {
  width: 350px;
  height: 120px;
  border-radius: 1px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.line {
  width: 200px;
  border-top: 4px solid #808080;
}

.lock {
  height: 50px;
  margin: auto 90px auto 0;
  /* Adjust the margin values as per your requirement */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h5 {
  color: #808080;
  margin: auto 90px auto 0;
}

.aboutcard {
  width: 90%;
  height: 250px;
  border: 1px solid white;
  box-shadow: 8px 12px 20px 0px #000000;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.card-content {
  display: flex;
  justify-content: center;
  /* Horizontal centering */
  align-items: center;
  /* Vertical centering */
  height: 100%;
  /* Adjust the height as needed */
  text-align: left;
  /* Center align the text within the container */
  color: white;
  font-size: 15px;
  overflow-y: auto;
}

.aboutcard .line {
  border-radius: 10%;
  width: 4px;
  height: 9%;
  background-color: #5df5ff;
  position: absolute;
  left: 347px;
  margin-bottom: 150px;
  transform: translate(-20%, -20%);
}

@media screen and (max-width: 768px) {
  .aboutcard {
    width: 100%;
    padding: 2rem;
    height: fit-content;
    position: relative;
  }
  .card-content {
    text-align: justify;
  }
  .card {
    width: 100%;
    height: unset;
    margin-left: 0;
  }

  .input-container {
    flex-direction: column;
  }
  .button {
    clip-path: unset;
    margin-left: 0;
  }
  .input-container {
    margin-top: 1rem;
  }
  .line {
    position: absolute;
    top: 0;
    right: 0;
  }
}


