.commoncard{
    border: 1px solid white;
    width: 200px;
    height: 120px;
}

.title{
    font-weight: bold;
    color: white;
    align-items: center;
}

.description{
    color: white;
    align-items: center;
    padding: 10px;
}