.timeline {
    background-color: black;
    display: flex;
    height: 125vh;
    font-size: 15px;
    position: relative;
  }
  
  .left-end-side,
  .right-end-side {
    flex: 1;
  }
  
  .row {
    display: flex;
    align-items: center;
  }
  
  .row-n {
    display: flex;
    margin-left: 38px;
  }
  
  .image-dot {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
  }
  
  .left-end-side {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .first-line {
    font-size: 2rem;
    color: #ffffff;
    width: 100%;
  }
  
  .second-line {
    font-size: 4rem;
    color: #ffa25c;
  }
  
  .third-line {
    font-size: 2rem;
    color: #744019;
    width: 100%;
  }
  
  .content {
    color: #ffffff;
  }
  
  .month-content {
    color: #ffa25c;
  }
  
  .month-content-n {
    color: #ffa25c;
    margin-left: 40px;
    margin-bottom: 10px;
  }
  
  .month-content-m {
    color: #ffa25c;
    margin-left: 22px;
  }
  
  .text-area {
    padding-bottom: 550px;
    padding-left: 25%;
    text-align: right;
  }
  
  .image-dot {
    margin-top: 10px;
  }
  
  .image-dot2 {
    margin-bottom: 30px;
  }
  
  .mars-img {
    position: absolute;
    top: 13rem;
    width: 24rem;
  }
  

  @media screen and (max-width: 768px) {
    .timeline {
      flex-direction: column;
      height: unset;
      padding-top: 5rem;
    }
    .text-area {
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .first-line {
      font-size: 1.5rem;
      margin-right: 0;
    }
    .second-line {
      font-size: 2.5rem;
    }
    .third-line {
      font-size: 1.5rem;
      padding-left: 0;
      margin-right: 0;
    }
    .mars-img {
      top: 24rem;
      right: 0rem;
      width: 7rem;
      z-index: 0;
    }
    .right-end-side {
      z-index: 1;
    }
  }

